h1{
   font-family: 'Garamond';
   font-style: normal;
   font-weight: 700;
   font-size: 72px;
   line-height: 1.20;
   
   @media (max-width: 400px){
      font-size: 45px;
   }

}

h2{
   font-weight: 700;
   font-size: 48px;
   line-height: 1.2;
}